/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:root {
  --background-color: #020202;
  --background-color-2: #070707;
  --card-background: #1b1b1b;
  --text-color-bold: #eeebeb;
  --text-heading: #fff;
  --text-light: #e2e1e1;
  --border-color: #7a7a7a;
  --footer-color: #161616;

  /* Step -10: 16.00px → 12.32px */
  --step--10: clamp(0.77rem, 1.0469rem + -0.2307vw, 1rem);

  /* Step -9: 16.00px → 13.86px */
  --step--9: clamp(0.8663rem, 1.0273rem + -0.1342vw, 1rem);

  /* Step -8: 16.00px → 15.59px */
  --step--8: clamp(0.9744rem, 1.0052rem + -0.0257vw, 1rem);

  /* Step -7: 16.00px → 17.54px */
  --step--7: clamp(1rem, 0.9804rem + 0.0966vw, 1.0963rem);

  /* Step -6: 16.00px → 19.73px */
  --step--6: clamp(1rem, 0.9525rem + 0.2339vw, 1.2331rem);

  /* Step -5: 16.00px → 22.20px */
  --step--5: clamp(1rem, 0.921rem + 0.3887vw, 1.3875rem);

  /* Step -4: 16.00px → 24.97px */
  --step--4: clamp(1rem, 0.8858rem + 0.5624vw, 1.5606rem);

  /* Step -3: 16.00px → 28.09px */
  --step--3: clamp(1rem, 0.846rem + 0.758vw, 1.7556rem);

  /* Step -2: 16.00px → 31.60px */
  --step--2: clamp(1rem, 0.8013rem + 0.9781vw, 1.975rem);

  /* Step -1: 16.00px → 35.56px */
  --step--1: clamp(1rem, 0.7509rem + 1.2263vw, 2.2225rem);

  /* Step 0: 16.00px → 40.00px */
  --step-0: clamp(1rem, 0.6944rem + 1.5047vw, 2.5rem);

  /* Step 1: 16.00px → 45.00px */
  --step-1: clamp(1rem, 0.6307rem + 1.8182vw, 2.8125rem);

  /* Step 2: 16.00px → 50.63px */
  --step-2: clamp(1rem, 0.559rem + 2.1712vw, 3.1644rem);

  /* Step 3: 16.00px → 56.95px */
  --step-3: clamp(1rem, 0.4785rem + 2.5674vw, 3.5594rem);

  /* Step 4: 16.00px → 64.07px */
  --step-4: clamp(1rem, 0.3878rem + 3.0138vw, 4.0044rem);

  /* Step 5: 16.00px → 72.08px */
  --step-5: clamp(1rem, 0.2858rem + 3.516vw, 4.505rem);

  /* Step 6: 16.00px → 81.09px */
  --step-6: clamp(1rem, 0.1711rem + 4.0809vw, 5.0681rem);

  /* Step 7: 16.00px → 91.23px */
  --step-7: clamp(1rem, 0.0419rem + 4.7166vw, 5.7019rem);

  /* Step 8: 16.00px → 102.63px */
  --step-8: clamp(1rem, -0.1032rem + 5.4313vw, 6.4144rem);

  /* Step 9: 16.00px → 115.46px */
  --step-9: clamp(1rem, -0.2666rem + 6.2357vw, 7.2163rem);

  /* Step 10: 16.00px → 129.89px */
  --step-10: clamp(1rem, -0.4504rem + 7.1404vw, 8.1181rem);
}

html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  width: 100%;

  height: 100%;

  font-family: "Inter", sans-serif;
}


body {
  z-index: -2;
  background: #313131;
}

main {
  overflow: hidden;
  margin-bottom: 10%;
}
.link-hidden{
  display: flex;
  width: 100%;
  justify-content: center;
}

.link-hidden a {
  color: var(--text-heading);
  visibility: hidden;
  margin: 0 auto;
}
/* NAV_BAR */
nav {
  position: fixed;
  width: 73%;
  height: 66px;
  top: 17px;
  left: 0;
  right: 0;
  margin: 0 auto;
  justify-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(243, 243, 243, 0.35);
  background: #383838;
  border-radius: 48px;
  padding: 6px 18px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 43px;
}

a {
  text-decoration: none;
}

.nav-links a {
  color: var(--text-color-bold);
  font-size: 1.2em;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
}

.nav-links a:hover {
  color: #3effcf;
}

.logo img {
  width: 60px;
}

/* HAMBURGER MENU BTN */
.toggle-btn {
  display: none;
}

.toggle-btn img {
  height: 35px;
  cursor: pointer;
}

/* DROPDOWN MENU */
.drop-down-menu {
  display: none;
  position: absolute;
  right: 1rem;
  top: 85px;
  width: 232px;
  height: 0;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.drop-down-menu > li > a {
  color: #eeebeb;
}

.drop-down-menu > li > a:hover {
  color: #3effcf;
}

.drop-down-menu.open {
  height: 135px;
}

.drop-down-menu li {
  padding: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* HERO_SECTION */
/* images/background.jpg */

.welcome-area {
  width: 100%;
  overflow: hidden;
  border-bottom: 10px solid #0061ae;
  background: -webkit-gradient(
      linear,
      left bottom, left top,
      from(rgba(12, 12, 12, 0.75)),
      to(rgba(12, 12, 12, 0.75))
    ),
    url(./images/background.jpg), lightgray 50% / cover no-repeat;
  background: -o-linear-gradient(
      bottom,
      rgba(12, 12, 12, 0.75) 0%,
      rgba(12, 12, 12, 0.75) 100%
    ),
    url(./images/background.jpg), lightgray 50% / cover no-repeat;
  background: linear-gradient(
      0deg,
      rgba(12, 12, 12, 0.75) 0%,
      rgba(12, 12, 12, 0.75) 100%
    ),
    url(./images/background.jpg), lightgray 50% / cover no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-sec {
  width: 100%;
  position: absolute;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  width: 75%;
  margin: 0 auto;
}

.hero-section {
  padding-top: 12%;
  padding-bottom: 13%;
}

.hero-sec-des {
  display: inline-block;
}

.hero-section > .hero-sec-des {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 auto;
}

.left-hero-sec {
  width: 30%;
}

#company-name {
  color: #fff;
  font-family: Inter;
  font-size: var(--step--1);
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
}

.hero-sec-logo {
  width: 150%;
}

.hero-sec-logo > img {
  width: 50%;
}

.right-hero-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 19px;
  width: 70%;
}

.right-sec1-heading > h2 {
  color: #fff;
  font-family: Inter;
  font-size: var(--step-0);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 26px;
  text-align: center;
}

.right-sec1-paragraph > p {
  margin: 0 auto;
  width: 79%;
  color: #fff;
  font-family: Inter;
  font-size: var(--step--4);
  font-style: normal;
  font-weight: 400;
  /* line-height: 1.3; */
  text-align: center;
  text-justify: inter-word;
  text-transform: capitalize;
  margin-bottom: 19px;
}

.all-works-btn {
  /* display: flex;
    color: var(--text-heading);
    width: 150px;
    padding: 15px 60px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 35px;
    border: 2px solid #FFF;
    background: transparent;
    cursor: pointer; */
  display: inline-block;
  padding: 15px 60px;
  text-decoration: none;
  font-size: var(--step--8);
  color: white;
  background: transparent;
  border-radius: 35px;
  border: 1px solid white;
  width: 20%;
  text-align: center;
}

.all-works-btn > a {
  text-decoration: none;
  color: #fff;
}

.all-works-btn:hover {
  background-color: #fff;
  color: #000;
}

.right-hero-sec2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9.52%;
}

/* ALL_WORKS */

.app-catlouge {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app-works {
  width: 73%;
  text-align: center;
  padding-top: 110px;
  margin-bottom: 5%;
}

.app-works-heading {
  color: var(--text-heading);
  text-align: center;
  font-family: Inter;
  font-size: var(--step-0);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 55px;
}
.app-list-container {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 58px 80px;
}

.app-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18%;
  padding: 10px 21px;
  border-radius: 33px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  background: #484848;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-card img{
  border-radius: 60px;
}

#oth-company-logo {
  border-radius: 0;
  width: 75%;
  padding-top: 20px;

}
.even-card>p>a{
  color: var(--text-light);
}

.app-logo {
  width: 42%;
  margin: auto;
  margin-bottom: 29px;
}

.app-name {
  color: var(--text-light);
  text-align: center;
  font-family: Inter;
  font-size: var(--step--7);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 65px;
}

/* padding: 10px 20px;
    border-radius: 33px;
    border: 1px solid #FFF; */
.btn1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  background: #1c63af;
  color: #fff;
  padding: 10px 20px;
  border-radius: 33px;
  border: 1px solid #fff;
  -webkit-transition: background-position 0.3s, color 0.3s;
  -o-transition: background-position 0.3s, color 0.3s;
  transition: background-position 0.3s, color 0.3s; /* Add transitions */
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.btn1 img {
  border-radius: 0px;
  width: 24px;
  height: auto;
  vertical-align: middle;
  margin-right: 10px;
}

.playstore-btn {
  display: flex;
  vertical-align: middle;
  align-items: center;
}

.playstore-logo img{
  border-radius: 0px;
}

.hidden {
  visibility: hidden;
}

/* FOOTER */
footer {
  /* background-color: var(--footer-color); */

  border-top: 1px solid var(--border-color);
  padding: 32px 12.63%;
}

.footer-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 56px;
}

.footer-details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.company-details {
  width: 38.64%;
}
.company-logo {
  color: var(--text-heading);
  font-size: var(--step-0);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px;
}

.company-logo > img {
  width: 66px;
}

.company-des {
  color: #fff;
  font-size: var(--step--8);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
  line-height: 1.6;
}

.helpful-links {
  width: 12%;
  line-height: 1.6;
}

.helpful-links a,
.helpful-links > ul {
  text-decoration: none;
  color: var(--text-heading);
  font-size: var(--step--6);
}

.helpful-links > ul > h2 {
  font-size: var(--step--6);
}

.contact-us {
  width: 21.22%;
  line-height: normal;
  color: var(--text-heading);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.6;
  gap: 25px;
}

.contact-us a {
  text-decoration: none;
  color: var(--text-heading);
  word-wrap: break-word;
}

.contact-us > div > h2 {
  font-size: var(--step--6);
}

.contact-us > div > p {
  display: none;
  font-size: var(--step--6);
}

.social-media {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  /* display: flex; */
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5%;
}

.copyright {
  width: 100%;
  /* border-top: 1px solid var(--border-color); */
}

.copyright p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  color: var(--text-heading);
  align-items: center;
  justify-content: center;
  font-size: var(--step--6);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* PRIVACY POLICY PAGE */

.privacy-policy-area {
  width: 100%;
  overflow: hidden;
  background: -webkit-gradient(
      linear,
      left bottom, left top,
      from(rgba(12, 12, 12, 0.5)),
      to(rgba(12, 12, 12, 0.5))
    ),
    url(images/Privacy2.png), lightgray 50% / cover no-repeat;
  background: -o-linear-gradient(
      bottom,
      rgba(12, 12, 12, 0.5) 0%,
      rgba(12, 12, 12, 0.5) 100%
    ),
    url(images/Privacy2.png), lightgray 50% / cover no-repeat;
  background: linear-gradient(
      0deg,
      rgba(12, 12, 12, 0.5) 0%,
      rgba(12, 12, 12, 0.5) 100%
    ),
    url(images/Privacy2.png), lightgray 50% / cover no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.privacy-back img {
  width: 100%;
}

.privacy-policy {
  width: 75%;
  margin: 0 auto;
  margin-top: 4%;
}

.heading {
  color: var(--text-heading);
  font-size: var(--step-6);
  padding: 12.8%;
}
.norms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 45px;
  margin-bottom: 4%;
}
.paragraph,
.paragraph > a {
  font-size: var(--step--6);
  color: var(--text-light);
  text-decoration: none;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
}

.paragraph > a {
  text-decoration: underline;
}

.small-heading {
  color: var(--text-heading);
  text-transform: capitalize;
  font-size: var(--step--4);
  margin-bottom: 1vw;
}

.small-paragraph {
  color: var(--text-light);
  line-height: 1.6;
  text-align: justify;
  font-size: var(--step--6);
  font-weight: 400;
  font-style: normal;
}

.semiline {
  line-height: 1.5;
  margin-top: 1%;
}

.privacy-1 > .semiline h4 {
  color: var(--text-heading);
  font-size: var(--step--5);
}

.ga-list {
  color: var(--text-heading);
  font-size: var(--step--6);
  line-height: 1.8;
  text-indent: 1%;
}

.ga-list a,
.privacy-5 a {
  color: var(--text-heading);
  text-decoration: underline;
  word-wrap: break-word;
}

/* CONTACT US */

.contact-us-area {
  width: 100%;
  overflow: hidden;
  background: -webkit-gradient(
      linear,
      left bottom, left top,
      from(rgba(12, 12, 12, 0.5)),
      to(rgba(12, 12, 12, 0.5))
    ),
    url(images/contact-us.jpg), lightgray 50% / cover no-repeat;
  background: -o-linear-gradient(
      bottom,
      rgba(12, 12, 12, 0.5) 0%,
      rgba(12, 12, 12, 0.5) 100%
    ),
    url(images/contact-us.jpg), lightgray 50% / cover no-repeat;
  background: linear-gradient(
      0deg,
      rgba(12, 12, 12, 0.5) 0%,
      rgba(12, 12, 12, 0.5) 100%
    ),
    url(images/contact-us.jpg), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-us-page {
  width: 75%;
  margin: 0 auto;
  margin-top: 4%;
  margin-bottom: 4%;
  display: block;
}

.contact-us-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
}

.contact-us-des {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /* gap: 9%; */
}

.contact-us-form {
  width: 60%;
  height: 100%;
}

.contact-us-des h3{
  color: var(--text-heading);
  font-size: var(--step-2);
  margin: 30px 0px;
}
.contact-us-para {
  font-size: var(--step--7);
  color: var(--text-light);
  font-weight: 400;
  margin-bottom: 12px;
}



.contact-us-para a{
  color: var(--text-light);
  text-decoration: underline;
}


.name-and-email {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.query-box {
  width: 100%;
  padding: 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#name,
#E-mail {
  width: 49%;
  border-radius: 7px;
  border: 1px solid #9f9f9f;
  background: #484848;
  padding: 11px 12px;
  color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: #999;
  opacity: 1;
}

::-moz-placeholder {
  color: #999;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #999;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #999;
  opacity: 1;
}

::placeholder {
  color: #999;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #999;
}

#Queries {
  width: 100%;
  height: 300px;
  border-radius: 7px;
  border: 1px solid #9f9f9f;
  background: #484848;
  text-align: justify;
  font-family: Inter;
  padding: 11px 14px;
  color: #fff;
  margin-bottom: 20px;
}

#Submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: none;
  border-radius: 33px;
  background: #48bfa1;
  cursor: pointer;
}

#Reset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 29px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: none;
  border-radius: 33px;
  background: #1c63af;
  cursor: pointer;
}

#Submit span,
#Reset span {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.action-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3%;
}

.error-text{
  width:80%;
  margin: 160px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  font-size: var(--step-1);
  color:var(--text-heading);
  text-align: center;
}
.error-text a{
  font-size: var(--step--6);
  color:var(--text-heading);
  text-decoration: none;
}




